

#pinterest-gallery-wrapper {
	padding: 10px;
	width: 230px;
	background-color: rgb(255, 255, 255);
	-moz-box-shadow: 0 0 6px #aaaaaa;
	-webkit-box-shadow: 0 0 6px #aaaaaa;
	box-shadow: 0 0 6px #aaaaaa;
}

#pinterest-gallery-album-cover {
	color: #000000;
}
	
#pinterest-gallery-title a, a:visited {
	color: black;
	font-size: .8em;
	line-height: .8em;
}

#pinterest-gallery-title a:hover, a:focus {
	color: green;
}

#pinterest-gallery-title a:active {
	color: black;
}

.field-name-field-pinterest-gallery-images img {
	background: white;
	-moz-box-shadow: 0 0 6px #aaaaaa;
	-webkit-box-shadow: 0 0 6px #aaaaaa;
	box-shadow: 0 0 6px #aaaaaa;
	padding: 10px 10px 40px;
	border-radius: 3px;
}